<div class="container">
  <div class="row">

    <section class="col-3">
      <h5 class="text-warning ml-3">Sort</h5>
      <select class=" form-select form-select-lg  mb-3">
        <option>Alphabetical</option>
        <option>price: low to high</option>
        <option>price: high to low </option>
      </select>

      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor="let brand of brands">
          {{brand.name}}
        </li>
      
      </ul>
      <h5 class="text-warning ml-3">types</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor="let type of types">
          {{type.name}}
        </li>
    
      </ul>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between ali align-items-center pd-2 ">

        <header><span>Showing <strong>10</strong> of <strong> 20 </strong> Result</span></header>

        
        <div class="d-flex gap-2">
          <input type="text" class="from-control mr-3" style="width: 300px; height: 50px" placeholder="search">
          <button class="btn btn-primary my-2">search</button>
          <button class="btn btn-success ml-2 my-2">reseat</button>
        </div>
      </div>

      <div class="row">
        <!-- directive  -->
        
        <div class="col-4" *ngFor="let item of products"> 

         
          
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>


    </section>
  </div>
</div>

